---
import BaseLayout from '../layouts/base.astro'
import SortBar from '../components/sortBar.astro'
import ThreadCard from '../components/threadCard.astro'
import ThreadList from '../components/threadList'
---

<BaseLayout>
    <div class="container mx-auto">
        <div>
            <SortBar />
        </div>
        <div class="flex flex-col">
            <ThreadList />
            <ThreadCard
                title="Gorgc dropped 50+ communication score without talking"
                postedBy="u/invokerzzv"
                voteCount="14"
                timePost="9 hours ago"
                commentCount="491"
            />
            <ThreadCard
                title="Gorgc dropped 50+ communication score without talking"
                postedBy="u/invokerzzv"
                voteCount="14"
                timePost="9 hours ago"
                commentCount="491"
            />
        </div>
    </div>
</BaseLayout>
