---

---

<div
    class="flex flex-row items-center justify-between rounded border-b border-[#ccc] px-3 py-2.5"
>
    <div>
        <a href="#">Hot</a>
        <a href="#">New</a>
        <a href="#">Top</a>
    </div>
    <div>Display Option</div>
</div>
