---
import BaseLayout from '../../layouts/base.astro'
import ThreadDetailWrapper from '../../components/react/threadDetail'

const token = import.meta.env.REDDIT_TOKEN
const { thread, id } = Astro.params
---

<BaseLayout>
    <div class="container mx-auto">
        <ThreadDetailWrapper
            token={token}
            thread={thread}
            id={id}
            client:load
        />
    </div>
</BaseLayout>
